
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>

<br />

<a href="ExportDinamicExcelBlogList" class="btn btn-primary">Excel Listesini İndir</a>

