@using EntityLayer.Concrete
@model List<AppRole>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Roller</h1>

<a href="/Admin/AdminRole/AddRole" class="btn btn-outline-primary">Yeni Ekle</a>
<br /><br />

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Sil</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <td>@item.Name</td>
            <td><a href="/Admin/AdminRole/DeleteRole/@item.Id" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>
