
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <h3 class="tittle">Erişim Reddedildi!</h3>
    <p class="sub text-center">Ulaşmaya çalıştığınız sayfa için gerekli izinleriniz yok.</p>
</section>

