
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <h3 class="tittle">Sayfa Bulunamadı!</h3>
	<p class="sub text-center">Ulaşmaya çalıştığınız sayfa bulunamadı.</p>
</section>
