@*<script src="~/lib/jquery/dist/jquery.js"></script>*@

<div class="comment-top">
<h4>Yorum Yap</h4>
	<div class="comment-bottom">
        <form method="post" asp-action="PartialAddComment" asp-controller="Comment">
            <input class="form-control" type="text" name="CommentUserName" id="CommentUserName" placeholder="Ad" required="">
            <input class="form-control" type="text" name="CommentTitle" id="CommentTitle" placeholder="Konu" required="">
            <textarea class="form-control" name="CommentContent" id="CommentContent" placeholder="Yorumunuz..." required=""></textarea>
			
			<button type="submit" class="btn btn-primary submit" id="yorumbuton">Gönder</button>
		</form>
	</div>
</div>
@*
<script>
    $('#yorumbuton').click(function () {
       let commentdata = {
            CommentUserName: $("#CommentUserName").val(),
            CommentTitle: $("#CommentTitle").val(),
            CommentContent: $("#CommentContent").val(),
       };


       $.ajax({
           type:"post",
           url:"/Comment/PartialAddComment/",
           data: commentdata,
       });

        window.location='#'

    });
</script>*@