<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Dashboard</h1>
                <h5>Projemizin bu panelinde admin işlemleri bir area yapısı üzerinden gerçekleşmektedir.</h5>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Son Eklen Blog</h1>
                <h5>@ViewBag.SonEklenenBlog</h5>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellow-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">₺ 2687,22</h1>
                <h5>Blog Site Kazancı</h5>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>